.nodeWrapper {
  padding-top: 5px;
  margin: 5px;
  margin-left: 25px;
  margin-bottom: 0px;
  border-top:0.5px solid #CCCCCC;
  border-left:0.5px solid #CCCCCC;
  border-right:0.5px solid #CCCCCC;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width:300px;
  background-color: rgba(29, 161, 247, 0.65);
}

.nodeWrapper h3 {
  padding: 0px;
  margin: 0px;
}

.nodeWrapper p {
  padding: 0px;
  margin: 0px;
  font-size: 2rem;
}

.yes {
  color: green;
  font-size: 1.7rem;
}
