.media-viewer {
  padding: 20px;
  border: 1px solid #CCCCCC;
  border-radius:25px;
  margin: 10px;
}

.image-media {
  max-width:300px;
  height:auto;
  max-height:300px;
  min-width: 300px;
}

.video-media {
  max-width:300px;
  height:auto;
  max-height:300px;
  min-width: 300px;
}
