.media-viewer {
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-radius:25px;
  margin: 10px;
}

.image-media {
  max-width:300px;
  height:auto;
  max-height:300px;
  min-width: 300px;
}

.video-media {
  max-width:300px;
  height:auto;
  max-height:300px;
  min-width: 300px;
}

/** https://www.benmarshall.me/responsive-iframes/ **/
.iframe-container {
  min-width: 70vw;
  min-height: 70vh;
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container .html-media {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.json-media {
  max-width:350px;
  height:auto;
  max-height:400px;
  min-width: 300px;
  min-height: 350px;
}
