.App {
  overflow-wrap: break-word;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-light {
  background-color: #CCCCCC;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-header-dark {
  background-color: #86463F ;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display: inline-flex;
  gap: 12px;
}

.Nav-light {
  display:inline;
  padding:5px 12px;
}

.Nav-light:hover {
  border-top: 4px solid green;
  border-bottom: 0.5px solid green;
}

.Nav-light-active {
  display:inline;
  padding:5px 12px;
  border-top: 4px solid purple;
  border-bottom: 0.5px solid purple;
}

.Nav-dark {
  display:inline;
  padding:5px 12px;
}

.Nav-dark:hover {
  border-top: 4px solid green;
}

.Nav-dark-active {
  display:inline;
  padding:5px 12px;
  border-top: 4px solid purple;
  border-bottom: 0.5px solid purple;
}

.header-page-container {
  background-color: orange;
  border: 1px solid orange;
  border-radius: 20px;
  padding: 0.5%;
  margin: 1%;
}

.page-wrapper {
  border: 1px solid blue;
  border-radius: 15px;
  padding: 20px;
  margin:20px;
}

.header-route-container {
  height:300px;
  width: 100%;
  background-color: #5c85d6;
  padding:30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.Body-wrap {
  padding: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
